<%- include ('../_layouts/adminheader') %>

<h2 class="page-title">Add a Categories</h2>
<a href="/admin/categories" class="btn btn-primary">Back to all categories</a>
<br><br>

<form class="" action="/admin/categories/add-category" method="post">

  <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" name="title"  value="<%= title %>" placeholder="Title">
  </div>


<br>
  <button class="btn btn-success">Add Category</button>
</form>

<%- include ('../_layouts/adminfooter') %>
