</div>

</div>
</div>
<!-- Closeing container -->


<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <p>&copy; Tecnico-ShoppingCart</p>
    <span class="text-muted">Ecommerce Project By : Mohammed Nayaz</span>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script type="module">
  import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
</script>
<script src="/js/main.js"></script>
  </body>
</html>
