.sorting tr:not(.home){
  cursor: pointer;
}
.ui-state-hightlight {
  border: 1px dashed #ccc;
}
a{
  text-decoration: none;
}
.pgtitle{
  font-weight: bold;
}
#edit{
  color: darkblue;
  font-weight: bold;
}
.predit{
  color: darkblue;
  font-weight: bold;
}
#delete{
  color: red;
  font-weight: bold;
}
.prdlt{
  color: red;
    font-weight: bold;
}
#imgPreview{
  margin: 20px;
}
#noimage{
  width: 100px;
  height: 100px;
}

ul.gallery{
  padding: 0.2px;
}
ul.gallery li:first-child{
  margin-left: 2px;
}
ul.gallery li{
  margin: 20px;
  display: inline-block;
}
table.alignmiddle td{
  vertical-align: middle !important;
}
